@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base color variables */
  --color-primary: #005B9B;
  --color-primary-80: rgba(0, 91, 155, 0.80); /* 80% opacity */
  --color-primary-60: rgba(0, 91, 155, 0.60); /* 60% opacity */
  --color-primary-40: rgba(0, 91, 155, 0.40); /* 40% opacity */
  --color-primary-20: rgba(0, 91, 155, 0.20); /* 20% opacity */
  --color-primary-10: rgba(0, 91, 155, 0.10); /* 10% opacity */
  --color-primary-5: rgba(0, 91, 155, 0.05);  /* 5% opacity */

  /* Gradient variables */
  --button-gradient: #EF6614;
  --text-gradient: linear-gradient(90deg, #2F80ED -12.29%, #50BEE1 112.78%);
  
  --custom-gradient: linear-gradient(90deg, #2F80ED -12.29%, #50BEE1 112.78%);

}